*{
    /* border:1px solid red; */
}

:root{
    --white:#fff;
    --black:#222831;
    --black2:#161A20;
    --radius:10px;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color:var(--blue-1);
    height: auto;
    background-color: var(--black);
    color:var(--white);
}

.container{
    box-sizing: border-box;
    padding: 0px 15px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
}

.items-container{
    position: relative;
}

.items-found{
    position: absolute;
    background-color: var(--white);
    top: 55px;
    left: 0;
    list-style: none;
    border-radius: var(--radius);
    width: 100%;
    height: auto;
    text-decoration: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item{
    padding:5px;
}

.item-inner{
    box-sizing: border-box;
    color: var(--black);
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: var(--radius);
}

.item-inner:hover{
    background-color: #f7f1e3;
    cursor:pointer;
    font-weight: 700;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: var(--black2);
}

.navbar-button{
    padding:1px 15px;
    border:none;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: var(--radius);
    font-weight: 700;
    color:var(--black2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-img{
    margin-left: 5px;
    width: 28px;
    height: auto;
}

.navbar-button:hover{
    cursor: pointer;
}

.search-container__input{
    width: 300px;
    height: 20px;
    padding: 10px 40px 10px 20px;
    border-radius:var(--radius);
    border:2px solid var(--white);
    background-color: var(--black2);
    color:var(--white);
    font-weight: 700;
    position:relative
}

.search-container__img {
    position:absolute;
    bottom:12px;
    right:10px;
    width:20px;
    height:20px;
}

.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}

.container-button{
    margin: 5px 10px;
}

.container-button__button{
    width: 30px;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--black2);
    border-radius: var(--radius);
    background-image: url('img/reload.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-origin: content-box;
    transition: background-color 0.5s ease-in;
}

.container-button__button:hover{
    cursor: pointer;
    background-color: var(--white);
    background-image: url('img/reload2.png');
}

.container-button__img{
    width: 100%;
    height: 100%;
}

.main-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.main-container__left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-right: 1px solid var(--white);
    padding:5px;
}

.main-container__right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto;

}

.temp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px
}

.cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
}

.cards-container__item{
    width: 150px;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: var(--radius);
    background-color: var(--black2);
}

.card-item__title{
    font-weight: 700;
}

.card-img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
}

.info-container > :first-child{
    font-weight: 700;
    font-size: 20px;
}

.img-forecast-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-forecast{
    width: 100px;
    height: 100px;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* text */
.text-temp{
    font-size: 60px;
}

.text-city{
    display: inline;
}


/* utilities */
.mb-1{
    margin-bottom: 10px; 
}
.mb-2{
    margin-bottom: 20px; 
}
.mb-3{
    margin-bottom: 30px;
}

.no-margin{
    margin: 0px;
}

.d-none{
    display: none;
}

@media (max-width: 800px) {
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .main-container__left{
        border-right: none;
        border-bottom: 1px solid var(--white);
    }

    .main-container__right{
        padding-top: 10px;
    }

    .search-container__input,.search-container__img{
        display: none;
    }

}