*{
    border:1px solid red;
}

body{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.navbar__search{
    height: 20px;
    padding: 4px;
}

.main-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: gray;
}

.days-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.days-section__card{
    width: 100px;
    height: 100px;
}

/* utilities */
.mb-1{
    margin-bottom: 10px; 
}
.mb-2{
    margin-bottom: 20px; 
}
.mb-3{
    margin-bottom: 30px;
}